.container > div {
  background-color: orange;
}
body {
  background-color: rgb(13, 13, 15);
}
#min,
#sec,
#count {
  font-size: 100px;
  font-weight: bold;
}

#min ~ span,
#sec ~ span {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  color: black;
}
.container {
  height: 100vh;
}
